@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Nunito:wght@200;300;400;500;600&display=swap");

:root {
  --background-color: #f5f5f5;
  --text-color: #333333;
  --heading-color: #222;
  --footer-background: #e0e0e0;
  --footer-text-color: #000000;
  --navbar-background: #ffffff;
  --navbar-text-color: #000000;
  --button-background: #f70809;
  --button-hover-background: #e60607;
  --border-color: #ccc;
  --background-blogs: #cabebe;

}

[data-theme="dark"] {
  --background-color: #111;
  --text-color: #ffffff;
  --heading-color: #fff;
  --footer-background: #222;
  --footer-text-color: #ffffff;
  --navbar-background: #333;
  --navbar-text-color: #ffffff;
  --button-background: #f70809;
  --button-hover-background: #e60607;
  --background-blogs: #222;

}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.6%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
h1 {
    color: var(--text-color);
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #111;
}
html::-webkit-scrollbar-thumb {
  background: #f70809;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

.header {
  background: var(--heading-color);
}

.btn {
  background: var(--button-background);
  border: 0.2rem solid var(--button-background);
}

.btn:hover {
  background: var(--button-hover-background);
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.heading span {
  color: #f70809;
  font-size: 2rem;
}
.heading h1 {
  font-size: 4rem;
  color: var(--text-color);
  margin-top: 0.5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #f70809;
  border: 0.2rem solid #f70809;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: #f70809;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: var(--navbar-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}


.header .navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  display: inline-block;
  margin: 0 1rem;
}
.btn a{
  color: var(--text-color);
}
.header .navbar a:hover {
  color: #f70809;
}
.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: bolder;
}


.logo i {
  color: #f70809;
  padding-right: 0.5rem;
}
.heading span {
  color: #f70809;
  font-size: inherit;
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: none; /* Hide the navbar by default */
    flex-direction: column; /* Stack items vertically */
    position: absolute; /* Overlay on top of content */
    top: 80px; /* Adjust based on header height */
    left: 0;
    right: 0;
    max-height: 400px; /* Set a max height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 1rem; /* Add padding for spacing */
    background: var(--background-blogs); /* Match header background */
    z-index: 10; /* Ensure it's above other content */
  }

  .header {
    display: flex;
    align-items: center; /* Center items */
  }



.logo{
  margin: 0 auto; /* Automatically adjust margins to center the logo */

}

  .navbar.active {
    display: flex;
  }

  #menu-btn {
    display: block;
    margin-right: auto; /* Position the menu button on the left */

  }

  #theme-toggle {
    font-size: 1.5rem; /* Adjust font size */
    width: 2rem; /* Adjust width */
    height: 2rem; /* Adjust height */
    margin-left: auto; /* Position the toggle button on the right */
    line-height: 2rem; /* Set line-height to align vertically */
    display: flex; /* Use flex to align icon if needed */
    align-items: center; /* Center vertically */

  }


  .navbar a {
    font-size: 1.3rem; /* Smaller font size on mobile */
    padding: 1rem; /* Add padding to links */
    text-align: center; /* Center the text */
  }

  .btn {
    margin-left: 0; /* Center the buttons */
    margin-top: 1rem; /* Add space above buttons */
    width: 100%; /* Full width */
  }
}

@media (max-width: 480px) {
  .navbar a {
    font-size: 2rem; /* Further decrease font size */
  }

  .logo span {
    display: none; /* Hide the logo name on small screens */
  }
  .logo {
    font-size: 2rem; /* Smaller logo size */
  }

  #menu-btn i{
    font-size: 1.5rem; /* Adjust menu button size */
  }
  #theme-toggle i{
    width: 30px; /* Smaller width for mobile */
    height: 30px; /* Smaller height for mobile */
    font-size: 20px; /* Smaller icon size for mobile */

  }


}


.destination .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: var(--background-blogs);
}
.destination .box-container .box:hover img {
  transform: scale(1.1);
}
.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--text-color);
}
.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--text-color);
  line-height: 2;
}
.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: var(--text-color);
}
.destination .box-container .box .content a:hover {
  padding-left: 1rem;
}
.destination .box-container .box .content a i {
  padding-right: 0.5rem;
}

.destination .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.destination .card-container .card {
  border-radius: 1rem;
  overflow: hidden;
  background: var(--background-blogs);
}
.destination .card-container .card:hover .image img {
  transform: scale(1.1);
}
.destination .card-container .card .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.destination .card-container .card .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.destination .card-container .card .content {
  padding: 2rem;
  text-align: center;
}
.destination .card-container .card .content h3 {
  font-size: 2rem;
  color: var(--text-color);
}
.destination .card-container .card .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--text-color);
  line-height: 2;
}
.destination .card-container .card .content a {
  font-size: 1.7rem;
  color: var(--text-color);
}
.destination .card-container .card .content a:hover {
  padding-left: 1rem;
}
.destination .card-container .card .content a i {
  padding-right: 0.5rem;
}


.btn_wrapper{
  text-align: left;
  width: 100%;
}
.filterRegion{
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--text-color);
}
.services .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.services .card-container .card {
  background: var(--background-blogs);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}
.services .card-container .card:hover {
  border: 0.2rem solid #f70809;
}
.services .card-container .card i {
  font-size: 5rem;
  color: #f70809;
  margin-bottom: 2rem;
}
.services .card-container .card h3 {
  font-size: 2rem;
  color: var(--text-color);
}
.services .card-container .card p {
  color: var(--text-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
}

.gallery .box-container {
  -moz-columns: 3 25rem;
       columns: 3 25rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.gallery .box-container .box {
  margin-bottom: 1rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.gallery .box-container .box:hover {
  transform: scale(1.1);
}
.gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.gallery .box-container .box span {
  font-size: 1.4rem;
  color: var(--text-color);
}
.gallery .box-container .box h3 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--text-color);
}

.blog .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.blog .box-container .box {
  border-radius: 1rem;
  background: var(--background-blogs);
  overflow: hidden;
  padding: 0;


}
.blog .box-container .box:hover .images img {
  transform: scale(1.1);
}
.blog .box-container .box .images {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
.blog .box-container .box .images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
    object-fit: cover;
}
.blog .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.blog .box-container .box .content .link {
  font-size: 2rem;
  color: var(--text-color);
}
.blog .box-container .box .content .link:hover {
  color: #f70809;
}
.blog .box-container .box .content p {
  color: var(--text-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
}
.blog .box-container .box .content .icon {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: var(--text-color);
}
.blog .box-container .box .content .icon a:hover {
  color: #f70809;
}
.blog .box-container .box .content .icon a i {
  padding-right: 0.5rem;
  color: var(--text-color);
}

.footer {
  background: var(--footer-background);
  color: var(--footer-text-color);
}
.footer .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .card-container{
  background-color: var(--footer-background);
}
.footer .card-container .card {
  padding: 1rem 0;

}
.footer .card-container .card .logo {
  padding-bottom: 1rem;
}
.footer .card-container .card h3 {
  font-size: 2.2rem;
  color: var(--text-color);
  padding: 1rem 0;
}

.box-foot{
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 1rem 0;

}
.footer .card-container .card p {
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 1rem 0;
  line-height: 1.5; /* Adjusted line-height for better readability */
}
.footer .card-container .card p i {
  padding-right: 0.5rem;
  color: #f70809;
}
.footer .card-container .card .share {
  padding-top: 1rem;
}
.footer .card-container .card .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 1.6rem;
  border-radius: 50%;
  border: 0.2rem solid #f70809;
  color: #f70809;
  margin-right: 0.5rem;
  text-align: center;
}
.footer .card-container .card .share a:hover {
  background: #f70809;
  color: #111;
}
.footer .card-container .card .links {
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 1rem 0;
  display: block;
}
.footer .card-container .card .links:hover {
  color: #f70809;
}
.footer .card-container .card .links:hover i {
  padding-right: 2rem;
}
.footer .card-container .card .links i {
  padding-right: 0.5rem;
  color: #f70809;
}
.footer .card-container .card form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #f70809;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: var(--text-color);
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

@media (max-width: 480px) {
  .footer .card-container {
    display: flex; /* Use Flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within each card */
  }

  .footer .card-container .card {
    width: 90%; /* Allow cards to take most of the width */
    margin: 0.5rem 0; /* Add some margin between cards */
  }

  .footer .card-container .card p {
    font-size: 1.2rem; /* Smaller font size for mobile */
  }

  .footer .card-container .card .share a {
    height: 3.5rem; /* Smaller size for social share buttons */
    width: 3.5rem;
    line-height: 3rem; /* Center the icon vertically */
    font-size: 1.4rem; /* Smaller icon size */
  }

  .footer .card-container .card .links {
    font-size: 1.2rem; /* Smaller font size for links */
  }

  .credit {
    font-size: 1.5rem; /* Smaller font size for credit */
    padding: 1.5rem 0; /* Adjust padding for smaller screens */
  }
}


.credit {
  background: var(--background-color);
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: var(--text-color);
}
.credit span {
  color: #f70809;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--navbar-background);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../images/scenery-aurora.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.home1 {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../images/photobg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.home .content {
  text-align: center;
}
.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}
.home .content h3 {
  font-size: 6vw;
  color: #ffffff;
}
.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}


.booking {
  padding: 6rem 9%;
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.booking::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-color);
  z-index: -1;
}

.booking h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.book-form {
  width: 80%;
  margin: 0 auto;
  background: var(--navbar-background);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  padding: 4rem 3rem;
}

.book-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.book-form form .inputBox {
  flex: 1 1 45%;
  min-width: 20rem;
}

.book-form form .inputBox span {
  font-size: 1.8rem;
  color: var(--text-color);
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
}

.book-form form .inputBox input,
.book-form form .inputBox select,
.book-form form .inputBox textarea {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 0.7rem;
  border: none;
  background: var(--background-color);
  color: var(--footer-text-color);
  font-size: 1.6rem;
  transition: border 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 0 0.5rem rgba(255, 255, 255, 0.1);
}

.book-form form .inputBox input::placeholder,
.book-form form .inputBox select option,
.book-form form .inputBox textarea::placeholder {
  color: #aaa;
  font-style: italic;
}

.book-form form .inputBox input:focus,
.book-form form .inputBox select:focus,
.book-form form .inputBox textarea:focus {
  border: 0.2rem solid #f70809;
  box-shadow: 0 0 1rem rgba(247, 8, 9, 0.5);
}

.book-form form .inputBox textarea {
  height: 12rem;
  resize: vertical;
}

.book-form form .btn {
  background: #f70809;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  border: none;
  margin-top: 1.5rem;
  align-self: flex-end; /* Aligns button to the end */
}

.book-form form .btn:hover {
  background: #e60607;
  box-shadow: 0 0 1.5rem rgba(247, 8, 9, 0.5); /* Red glow effect on hover */
}


@media (max-width: 768px) {
  .book-form {
    width: 95%;
    padding: 2rem;
  }
  .book-form form {
    flex-direction: column;
  }
  .book-form form .inputBox {
    width: 100%;
  }
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}
.about .video-container {
  flex: 1 1 42rem;
}
.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}
.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}
.about .video-container span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0.7rem;
}
.about .video-container span:hover {
  background: #f70809;
}
.about .content {
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}
.about .content span {
  color: #f70809;
  font-size: 2rem;
}
.about .content h3 {
  color: var(--text-color);
  font-size: 4rem;
  margin-top: 0.5rem;
}
.about .content p {
  color: var(--text-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
}


.blog .box {
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.blog .box .images img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.box.expanded{
  margin: 30px;
}

.box.expanded .images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.box.expanded .content {
  display: flex;
  flex-direction: column;
}

.box.expanded .content .icon {
  margin-top: auto;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}

.overlay.active {
  display: block;
}

body.no-scroll {
  overflow: hidden;
}
.blog .box {
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #333;
  color: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.blog .box .images img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.box.expanded {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  background-color: var(--navbar-background);
  padding: 0;
  overflow-y: auto;
}

.box.expanded .images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.box.expanded .content {
  display: flex;
  flex-direction: column;
}

.box.expanded .content .icon {
  margin-top: auto;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}

.overlay.active {
  display: block;
}

body.no-scroll {
  overflow: hidden;
}


.carousel-item img {
  width: 100%;
  height: auto;
}
.fullscreen-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}


@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
}

.room-features {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #555;
}


#price-section {
  margin-top: 20px;
}

#price-display {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f70809;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}



.extra-info {
  color: #f0f0f0;
  padding: 50px;
  margin-top: 15px;
  border-radius: 10px;
  display: none;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.extra-info.open {
  max-height: 500px;
  opacity: 1;

}

.extra-info h4 {
  color: #f70809;
  font-size: 18px;
  margin-bottom: 10px;
}

.extra-info p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  color: #ffffff;
  font-size: 14px;
  transition: color 0.3s;
  padding: -1px;
}

.read-more:hover {
  color: #ff6600;
}

.box {
  cursor: pointer;
}

.accordion-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.accordion {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 15px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.accordion.active {
  background-color: #ddd;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
}

.accordion-content p {
  margin: 10px 0;
}

.accordion i {
  transition: transform 0.3s ease;
}

.faq-section {
  padding: 4rem 9%;
  background-color: var(--background-color);
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq {
  background: var(--background-color);
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.faq .question {
  background: var(--background-color);
  color: var(--text-color);
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.faq .question:hover {
  background: var(--background-color);
}

.faq .question i {
  font-size: 1.5rem;
  color: #f70809;
  transition: transform 0.2s ease;
}

.faq .answer {
  background: var(--background-color);
  color: var(--text-color);
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  line-height: 1.8;
  display: none;
}

.faq.active .answer {
  display: block;
}

.faq.active .question i {
  transform: rotate(180deg);
}
.faq-section {
  padding: 4rem 9%;
  background-color: var(--background-color);
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq {
  background: var(--navbar-background);
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.faq .question {
  background: var(--footer-background);
  color: var(--footer-text-color);
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.faq .question:hover {
  background: var(--background-color);
}

.faq .question i {
  font-size: 1.5rem;
  color: #f70809;
  transition: transform 0.2s ease;
}

.faq .answer {
  background: var(--navbar-background);
  color: var(--footer-text-color);
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  line-height: 1.8;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.faq.active .answer {
  height: auto;
  opacity: 1;
}

.faq.active .question i {
  transform: rotate(180deg);
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  color: var(--text-color);
  background: var(--navbar-background);
  margin: 10% auto;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal h3 {
  margin-bottom: 20px;
  color: #f70809;
  font-size: 25px;
}

.modal p {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
  color: #000;
}

.modal-email {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: var(--background-blogs);
  border: 0.2rem solid #f70809;
  box-shadow: 0 0 1rem rgba(247, 8, 9, 0.5);
  color: #aaa;
  font-style: italic;
}

.modal-btn {
  background-color: #f70809;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.modal-btn:hover {
  background-color: #ff6600;
}
#map {
  height: 500px;
  width: 70%;
  margin: 0 auto;
  border: 5px solid red;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal  .box  .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.modal .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.city-popup  img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cities .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.cities .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: var(--background-blogs);
}
.cities .box-container .box:hover img {
  transform: scale(1.1);
}
.cities .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.cities .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cities .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.cities .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--text-color);
}
.cities .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--text-color);
  line-height: 2;
}
.cities .box-container .box .content a {
  font-size: 1.7rem;
  color: var(--text-color);
}
.cities .box-container .box .content a:hover {
  padding-left: 1rem;
}
.cities .box-container .box .content a i {
  padding-right: 0.5rem;
}
#theme-toggle {
  font-size: 24px;
  color: #ffc107; /* Initial color for light mode (sun) */
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

[data-theme="dark"] #theme-toggle {
  color: #f1c40f;
}

#theme-toggle i {
  transition: transform 0.3s ease;
}

.auth-container {
  display: flex;
  gap: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
